/* Body defaults */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

:root {
    --ff-poppins: 'Poppins',
        sans-serif;
    --ff-inter: 'Inter',
        sans-serif;
    font-size: 16px;
}

/* Utility classes */
.container {
    display: block;
    max-width: 1140px;
    width: 96%;
    margin-inline: auto;
}

.btn-primary {
    background-color: #FF5959;
    border: none;
    cursor: pointer;
    height: 56px;
    padding-inline: 20.5px;
    border-radius: 5px;
    font-size: 20px;
    font-family: var(--ff-inter);
    font-weight: 600;
    color: #fff;
    transition: all linear 0.1s;
}

.btn-primary:hover {
    background-color: #b94444;
}

.section-title {
    color: #121212;
    font-size: 45px;
    font-family: var(--ff-inter);
    font-weight: 700;
    margin-bottom: 20px;
}

.section-description {
    font-size: 18px;
    color: #707070;
    font-family: var(--ff-poppins);
    margin-bottom: 50px;
}

.text-center {
    text-align: center;
}

.mb-20 {
    margin-bottom: 20px;
}

/* Main header styles */
.main-header {
    width: 100%;
    height: 100vh;
    background: url("../assets/media/images/header.png"),
        linear-gradient(180deg, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 1));
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
}

.header-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content {
    color: #fff;
    text-align: center;
}

.header-content h2 {
    font-size: 65px;
    font-family: var(--ff-inter);
    font-weight: bold;
    margin-bottom: 20px;
}

.header-content p {
    font-size: 18px;
    font-family: var(--ff-poppins);
    margin-bottom: 30px;
}

/* Donate section */
.donate-today {
    margin-top: 130px;
}

.donate-fixed-taka {
    display: flex;
    justify-content: center;
    gap: 22px;
}

.donate-amount {
    width: 135px;
    height: 123px;
    padding-inline: 25px;
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.donate-amount h3 {
    color: #707070;
    font-size: 30px;
    font-weight: 700;
    font-family: var(--ff-inter);
}

.donate-amount:hover {
    background-color: #FFEEEE;
    outline: 2px solid #FF5959;

}

.donate-amount:hover h3 {
    color: #FF5959;
}

.custom-taka {
    width: 855px;
    border-bottom: 2px solid #DADADA;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.custom-taka input[type="number"] {
    border: none;
    width: 30%;
    outline: none;
    margin-bottom: 9.5px;
}

.custom-taka input[type="number"]::placeholder {
    text-align: center;

}

.donate-payment-system {
    display: flex;
    justify-content: center;
}

/* Donation Section */
.donate-plan {
    margin-top: 130px;
}

.donation-cards {
    display: flex;
    justify-content: center;
    gap: 47px;
    margin-bottom: 130px;
}

.donation-card {
    padding: 54px 22px;
    border-radius: 5px;
}

.donation-card:nth-child(1) {
    background-color: #EDF5F6;
}

.donation-card:nth-child(2) {
    background-color: #FCFCFC;
}

.donation-card:nth-child(3) {
    background-color: #FFF4D6;
}

.donation-card .donation-card-img {
    margin-top: 40px;
    margin-bottom: 32px;
}

.donation-card .donation-card-title {
    font-family: var(--ff-inter);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #121212;
}

.donation-card .donation-card-des {
    font-size: 1rem;
    color: #707070;
    font-family: var(--ff-poppins);
}

.donation-description {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.donation-description {
    margin-bottom: 100px;
}

/* News Letter */
.updates {
    margin-top: 130px;
}

.newsletter-main {
    display: flex;
    justify-content: center;
}

.newsletter-container {
    width: 80%;
    padding: 76px;
    background-color: #FFF4D6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsletter-form {
    width: 432px;
    height: 48px;
    background-color: #D9D9D9;
}

.newsletter-form form {
    width: 100%;
    height: 100%;
}

.newsletter-form form input[type="email"] {
    border: none;
    outline: none;
    width: 64%;
    height: 100%;
    background: none;
    padding-left: 20px;
}

.newsletter-form form input[type="submit"] {
    border: none;
    outline: none;
    background-color: #FF5959;
    width: 35%;
    height: 100%;
    color: #fff;
    font-family: var(--ff-poppins);
}

/* Footer */
.main-footer {
    margin-top: 130px;
    background-color: #0B0D17;
}

.footer-text {
    padding-block: 42px;
}

.footer-text h2 {
    text-align: center;
    color: #FF5959;
    font-family: 'Lobster', cursive;
    font-size: 36px;
    margin-bottom: 24px;

}

.footer-text h4 {
    color: #fff;
    text-align: center;
    font-family: var(--ff-poppins);
    font-size: 14px;
}